# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore log files
logs/
*.log

# Ignore SQLite database file
storage/sensors.db

# Ignore uploaded videos (optional)
storage/videos/

# Ignore environment variables file
.env

# Ignore Node.js dependency files
package-lock.json
package.json
node_modules/

